.banner {
    margin-bottom: 50px;
    margin-top: 50px;
}

.bannerImags img {
    width: calc((100%/3) - 30px);
    height: 450px;
    /* margin-left: 20px; */
    border-radius: 8px;
}

.bannerImags .active {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    width: 740px;
    margin-left: 50px;
    margin-right: 10px;
}

.lastImg {
    right: 0px;
    float: right;
    margin: 0px !important;
    margin-right: -150px !important;
}

.firstImg {
    margin-left: -150px !important;
    float: left;
}

.arrowLeft {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.iconLeft {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    z-index: 1;
    color: #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.arrowRight {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.iconRight {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    z-index: 1;
    color: #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.banner-sky-carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.banner-sky-carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.3;
    transition: opacity .6s ease;
}

.banner-sky-carousel-indicators li.active {
    opacity: 1;
    background-color: #DB524F;
}

.banner-mobile {
    display: none !important;
}

.imgsBannerMobile {
    width: 100%;
    height: 600px;
}

.carousel-indicators li{
    background-color: black;
}

.carousel-indicators li.active {
    background-color: #DB524F;
}

@media only screen and (min-width: 1340px) and (max-width: 1400px) {
    .bannerImags .active {
        width: 720px;
    }
}

@media only screen and (min-width: 1221px) and (max-width: 1340px) {
    .bannerImags .active {
        width: 680px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1221px) {
    .bannerImags .active {
        width: 660px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1199px) {
    .banner-mobile {
        display: block !important;
    }

    .banner {
        display: none;
    }
}