footer {
    background-color: #f1f2fa;
    width: 100%;
    border-top: 1px solid rgba(80, 80, 80, 0.15);
    display: table;
}
.menuFooter {
    padding: 0 5.275%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.15);
}

.logoSkyFooter {
    background-repeat: no-repeat;
    background: url("https://skyplay.sky.com.br/o/sky-play-theme/images/sky-light-default.svg");
    background-position: center center;
    width: 84px;
    height: 32px;
    text-indent: -5000em;
}

.socialNetworkds {
    text-align: right;
}

.socialNetworkds a {
    padding: 5px;
    margin: 0 3px;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.socialNetworkds a:hover {
    color: #DB524F;
    text-decoration: none;
}

.moreAboutSky {
    padding-top: 30px;
    display: table;
}

.imgSky {
    width: 48px;
    float: left;
    margin-right: 20px;
}

.downloadAppMinhaSky {
    float: left;
    width: 70%;
    margin-top: 4px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

.clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.logo-store {
    margin-left: 50px;
    display: block;
}

.logo_apple_store {
    background-image: url("https://skyplay.sky.com.br/o/sky-play-theme/images/button-apple-store-light-default.svg");
    background-repeat: no-repeat;
    background-size: 160px 54px;
    width: 160px;
    height: 54px;
    text-indent: -1000em;
    display: inline-block;
}

.logo_play_store {
    background-image: url("https://skyplay.sky.com.br/o/sky-play-theme/images/button-google-play-light-default.svg");
    background-repeat: no-repeat;
    background-size: 160px 54px;
    width: 160px;
    height: 54px;
    text-indent: -1000em;
    display: inline-block;
}

.logo_apple_store:hover {
    background-image: url("https://skyplay.sky.com.br/o/sky-play-theme/images/button-apple-store-light-over.svg");
}

.logo_play_store:hover {
    background-image: url("https://skyplay.sky.com.br/o/sky-play-theme/images/button-google-play-light-over.svg");
}

.logo-store a {
    margin: 10px;
}

.footer-links {
    margin: 20px 0;
}

.footer-links button {
    padding: 16px 16px 16px 1px;
    position: relative;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.footer-links button[data-toggle='nocollapse'] {
    color: rgba(0, 0, 0, 0.38);
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding-left: 1px;
}

.footer-links ul li a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.875rem;
}

.footer-links ul li a:hover {
    color: #DB524F;
    text-decoration: none;
    cursor: pointer;
}

.hidden-util-lg {
    display: none;
}

footer hr {
    margin-top: 9px;
    margin-bottom: 0;
    border-top: 1px solid rgba(80, 80, 80, 0.15);
}

.SubHeading {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.38);
}

.footer-links .SubHeading a {
    padding: 16px 16px 16px 1px;
    position: relative;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.bgBox {
    background-color: #ffffff;
}

.link-main {
    padding: 13px 0;
}

.link-main a {
    display: inline-block;
    margin: 0 7px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.link-main a:hover {
    color: #DB524F;
    text-decoration: none;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.Caption {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.43;
}

.medium {
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 575px){
    .link-main {
        line-height: 2;
        padding: 22px 0;
        text-align: center;
    }

    .hidden-xs {
        display: none;
    }
}
